.Chart {
  .Title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
  }
  
  .CustomTooltip {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 60%;
  
    p {
      margin: 0;
    }
  }
}