.ui.card.StatsCard {
  height: 100px;
  width: 250px;

  .content {
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
      line-height: 2rem;
      margin-right: 20px;
    }

    .TipIcon {
      position: relative;
    
      .heart {
        position: absolute;
        top: -3px;
        right: -3px;
        font-size: 0.8rem;
        line-height: 0.8rem;
      }
    }

    .Label {
      width: 100%;

      .Title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}