@import "../../../assets/scss/index";

.PreviousShifts {
  .ui.styled.accordion {
    width: 100%;
    
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .Label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
  
        p {
          margin: 0 !important;
        }

        .ShiftLength, .ShiftProfit {
          font-weight: normal;
        }
        
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .content {
      padding: 7px 30px 21px 30px;

      .Review .ui.form {
        text-align: left;
  
        .rating {
          margin-bottom: 10px;
        }
      }
    }
  }
}