@import "../../../assets/scss/index";

.ReceiptsDisplay.ui.styled.accordion {
  width: 100%;
  
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .Label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin: 0 !important;
      }

      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .content {
    padding-bottom: 5px;
  }

  .ReceiptLine {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
  }
}