@import "../../assets/scss/index";

.Dashboard {
  .PageHeader {
    display: flex;
    align-items: flex-start;
    width: calc(100% + 40px);
    height: $dashboard-header-height;
    padding: 20px;
    margin: -20px 0 0 -20px;
    background-color: black;

    .UserInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      color: white;
      cursor: pointer;

      img,
      i {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        font-size: 7rem;
        line-height: 7rem;
      }

      h1,
      h4 {
        margin: 0;
      }
    }
  }

  .Stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: -65px;

    .Row {
      display: flex;
      gap: 20px;

      &:first-child {
        height: 415px;
      }

      &:not(:first-child) {
        height: 335px;
      }
    }

    .Charts {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-basis: 100%;

      .OrdersChartCard,
      .ShiftsChartCard {
        flex-basis: 50%;
      }
    }

    .Current {
      display: flex;
      justify-content: center;
      flex-basis: 20%;

      .ui.card {
        width: 100%;
        min-width: 230px;
      }
    }

    .Seperator {
      height: 100%;
      width: 1px;
      min-width: 1px;
      background-color: rgba($color: #000000, $alpha: 0.25);
      z-index: 99;
    }

    .Lifetime {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 15%;

      .ui.card {
        width: 100%;
        min-width: 220px;
      }
    }

    .Lists {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-basis: 65%;

      .ui.card {
        width: 32.5%;
        min-width: 250px;

        &.LongestShifts {
          width: 35%;
          min-width: 320px;
        }
      }
    }

    ol,
    ul {
      margin-bottom: 0;
    }

    .ListItem {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;

      .Date {
        font-size: 0.9rem;
      }
    }
  }

  .Links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}