@import "../../../assets/scss/index";

.ProfileCard.PasswordCard {
  .ui.card {
    width: 350px;
  }

  button.hover-animation {
    .label {
      width: 110px;
    }

    &:hover:not(:disabled) {
      .label {
        left: calc((100% - 135px) / 2);
      }

      .IconContainer {
        right: calc((100% - 135px) / 2);
      }
    }
  }

  .message {
    width: 350px;
  }
}